@font-face {
	font-family: 'delius';
	src: url('./fonts/Delius-Regular.ttf') format('truetype');
}
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: 'delius', Arial, Helvetica, sans-serif;
  margin: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#output {
  background: transparent;
  z-index: 1;
  position: fixed;
  top: 0;
  width: calc(100vw - 200px);
  min-height: 100vh;
  color: transparent;
  border-color: transparent;
  caret-color: red;
  border: none;
  overflow: auto;
  outline: none;
  padding: 100px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: text;
  resize: none; /*remove the resize handle on the bottom right*/
}
#starthere {
  background-color: transparent;
  caret-color: red;
  border: none;
  overflow: auto;
  outline: none;
  padding: 100px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  position: fixed;
  top: 0;
  width: calc(100vw - 200px);
  display: flex;
  cursor: pointer;
  color: grey;
  height: 100vh;
  z-index: 2;
}
.blinking {
  margin-left: 5px;
  height: 17px;
  width: 1px;
  background-color: red;
  animation: blink-animation 1s steps(3, start) infinite;
  -webkit-animation: blink-animation 1s steps(3, start) infinite;
}
.inactive {
  display: none !important;
  opacity: 0;
  z-index: -1 !important;
}
.emailinput {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  right: 60px;
  width: 245px;
  z-index: 2;
}
.emailprompt {
  color: #9e9e9e;
  font-size: 12px;
  margin-bottom: 5px;
}
.emailprompt:hover {
  color: grey;
}
#emailID {
    padding: 5px;
    background-color: #e2e0e0;
    border: none;
    font-family: 'delius', Arial, Helvetica, sans-serif;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
}
#emailID:hover > .emailprompt {
  color: grey;
}
::placeholder {
  color: #9e9e9e;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #9e9e9e;
}
textarea:focus, input:focus{
  outline: none;
}
.buttons {
  font-size: 12px;
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 26px;
  border: none;
  color: white;
  font-family: 'delius', Arial, Helvetica, sans-serif;
  background-color: #e86be4;
  opacity: 0.5;
  cursor: pointer;
}
.buttons:hover {
 opacity: 1;
}
.input-range {
  position: fixed;
  bottom: 300px;
  left: 20px;
  width: 200px;
  border-radius: 5px;
  outline: none;
  z-index: 3;
  transform: rotate(90deg);
-webkit-transform-origin: left top;
-moz-transform-origin: left top;
-o-transform-origin: left top;
transform-origin: left top;
}
.main {
  position: relative;
  z-index: 0;
}
.color-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
}


/* timer */
.timer {
  display: none !important;
  opacity: 0.5;
}
.timer , .timeroff{
  position: fixed;
  bottom: 10px;
  left: 17px;
  display: flex;
    align-items: flex-end;
    cursor: pointer;
    z-index: 2;

}
.timer:hover {
  opacity: 1;
}
.timer-message {
  font-size: 12px;
  color: #9e9e9e;
  padding-left: 10px;
  padding-bottom: 4px;
}
.timeroff {
  display: none;
}
.blinking2 {
  animation: blink-animation2 5s infinite;
  -webkit-animation: blink-animation2 5s infinite;
}
#clockmessage {
  position: fixed;
  bottom: 10px;
  left: 17px;
  font-size: 12px;
  background-color: #EDEDED;
  padding: 20px;
  color: #9e9e9e;
  z-index: 3;
  cursor: pointer;
}
.close {
  position: absolute;
  right: 17px;
  top: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 1px;
  background-color: #9e9e9e;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* animations */
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes blink-animation2 {
  1% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes blink-animation2 {
  1% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* about */

.about-btn {
  z-index: 2;
  position: fixed;
  bottom: 10px;
  left: 200px;
  font-size: 12px;
  color: white;
  background-color: #7ED38E;
  opacity: 0.5;
  cursor: pointer;
  padding: 5px 10px;
}
.about-btn:hover {
  opacity: 1;
}

.about-ctn {
  display: none;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  z-index: 5;
  position: absolute;
  margin: 30px;
  background: #a4eab1;
  overflow-y: scroll;
}
.close-about:before, .close-about:after {
  background: rgb(45, 45, 45);
}
.close-about {
  position: fixed;
  right: 10px;
  padding: 20px;
  top: 22px;
}
.intro-txt {
  font-size: 15px;
  max-width: 550px;
  line-height: 1.6;
  margin: auto;
  padding: 100px 0;
  color: #343434;
  cursor: text;
}
/* custom input */

input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 200px;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(255,255,255);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(252,174,211,1) 14%, rgba(243,174,252,1) 18%, rgba(210,174,252,1) 27%, rgba(174,177,252,1) 34%, rgba(174,216,252,1) 38%, rgba(174,243,252,1) 47%, rgba(174,252,237,1) 52%, rgba(174,252,207,1) 58%, rgba(177,248,213,1) 64%, rgba(174,252,177,1) 69%, rgba(178,246,191,1) 72%, rgba(207,252,174,1) 76%, rgba(237,252,174,1) 79%, rgba(252,243,174,1) 82%, rgba(252,228,174,1) 85%, rgba(252,213,174,1) 89%, rgba(252,195,174,1) 95%, rgba(252,174,174,1) 100%);
  height: 5px;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0px; /* Centers thumb on the track */
  /*custom styles*/
  background-color: #000000;
  height: 5px;
  width: 5px;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: none;
 outline: none;
 outline-offset: none; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  border: none;
 outline: none;
 outline-offset: none; 
 background: rgb(255,255,255);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(252,174,211,1) 14%, rgba(243,174,252,1) 18%, rgba(210,174,252,1) 27%, rgba(174,177,252,1) 34%, rgba(174,216,252,1) 38%, rgba(174,243,252,1) 47%, rgba(174,252,237,1) 52%, rgba(174,252,207,1) 58%, rgba(177,248,213,1) 64%, rgba(174,252,177,1) 69%, rgba(178,246,191,1) 72%, rgba(207,252,174,1) 76%, rgba(237,252,174,1) 79%, rgba(252,243,174,1) 82%, rgba(252,228,174,1) 85%, rgba(252,213,174,1) 89%, rgba(252,195,174,1) 95%, rgba(252,174,174,1) 100%);
  height: 5px;  
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #000000;
  height: 5px;
  width: 5px;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
 outline: none;
 outline-offset: none; 
}

.ciao {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #008726; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8; 
}

i {
  font-style: normal;
    border-bottom: 1.5px dotted #2e2e2e;
    line-height: 1px;
}

.about-mob {
  display: none;
}



@media screen and (max-width: 900px) {
 #starthere, #output {
  padding: 30px;
 }
 #output {
  width: calc(100vw - 60px);
 }
 .color-box , .input-range{
  display: none;
 }
 .about-desk {
  display: none;
 }
 .about-mob {
  display: block;
 }
 .timer, .timeroff {
  display: none !important;
 }
 .about-btn {
  bottom: unset;
  left: unset;
  top: 10px;
  right: 10px;
 }
 .emailinput {
  bottom: 10px;
  right: 60px;
  left: 10px;
  width: calc(100vw - 80px);
}
.intro-txt  {
  padding: 10px;
  font-size: 12px;
}
.about-ctn {
  width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    z-index: 5;
    position: absolute;
    margin: 10px;
   
}
.close-about {
  top: 0;
  right: -8px;
}
}